<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="project" connectionString="Server=127.0.0.1;Uid=sa;Pwd=1234;Database=team3" />
		<!--<add name="Local" connectionString="Server=127.0.0.1;Uid=sa;Pwd=1234;Database=team3" />-->
	</connectionStrings>

	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>